#loading_container{
  display: none; 
  width: 200px;
  margin-top: 1%;
  margin-left: 45%;
  margin-right: auto;
}

#company_container{
  margin-top: 5%;
  margin-left: 32%;
  margin-right: auto;
}

#chartContainer{
  height: 300px; 
  width: 70%; 
  margin-top: 5%;
  margin-left: 13%;
  margin-right: auto;
}

#table_container{
  margin-left: 30px;
  margin-top: 5%;
  width: 100%;
  margin-right: 20px;
}

#para{
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-bottom: 1%;
}

#download_data{
  display: none;
  margin-top: 20px;
  margin-left: 42%;
  margin-right: auto;
}